.title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.title1 {
    border-bottom: 1px solid black;
    padding: 10px;
}
.cal {
}
.form {
    width: 600px;
}
.result {
    width: 600px;
}
.body {
    padding: 10px;
    display: flex;
    /*background: red;*/
    align-items: center;
}
.total-label {
    margin-right: 10px;
}
.App {
    font-size: 16px;
}
.total-suffix {
    margin-left: 10px;
}

.events {
    list-style: none;
    margin: 0;
    padding: 0;
}
.events .ant-badge-status {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis;
    font-size: 12px;
}
.notes-month {
    text-align: center;
    font-size: 28px;
}
.notes-month section {
    font-size: 28px;
}
.clear-time {
    color: red;
    margin-left: 16px;
}
.cal-header {
    display: flex;
    justify-content: space-between;
}
.cal-import {
    margin-right: 16px;
}
.world-lang-wrapper {
    display: flex;
    /*background: red;*/
}
.world-lang-button.right {
    margin-left: 10px;
}

.world-lang-wrapper .content-area {
    flex: 1;
    /*background: blue;*/
}

.world-lang-wrapper .result {
    flex: 1;
    margin-left: 16px;
    display: flex;
}
